[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metrica"]
	path = metrica
	url = https://github.com/adriancorrendo/metrica
[submodule "soiltestcorr"]
	path = soiltestcorr
	url = https://github.com/adriancorrendo/soiltestcorr
